body{
    background-image: linear-gradient(to right, #ffffff, #aaacad);
}

.colorTopo{
    background-image: linear-gradient(to right, #0c283a, #042e42);
    color: white;
}

.pesquisaPersonalizar{
    width: 70%;
}
.topoBotoes{
    width: 85px;
    margin-left: 15px;
}

.colorMenu{
    background-image: linear-gradient(to right, #1c445e, #073950);
    color: white;
}
