body{
    background-image: linear-gradient(to right, #ffffff, #aaacad);
}

.colorTopo{
    background-image: linear-gradient(to right, #0c283a, #042e42);
    color: white;
}

.colorMenu{
    background-image: linear-gradient(to right, #1c445e, #073950);
    color: white;
}
.colorRodape{
    background-image: linear-gradient(to right, #2a4f68, #044766);
    color: white;
    width: 100%;
}
.colorRodapedois{
    background-image: linear-gradient(to right, #192b36, #154358);
    color: white;
    width: 100%;
    height: 200px;
    
}

.pesquisaPersonalizar{
    width: 70%;
}
.topoBotoes{
    width: 110px;
    margin-left: 25px;
}
.topoBotoesDois{
    width: 85px;
    margin-left: 20px;
}
.RodapeBotoes{
    width: 8%;
    margin-left: 45%;
    margin-right: 45%
}
.RodapeBotoesdois{
    width: 10%;
    margin-left: 45%;
    margin-right: 48%;
}
.editCarrosel{
    width: 10%;
    margin-left: 45%;
    margin-right: 45%
}

.personalizarCard{
    position: relative;
    margin-top: -17%;
    margin-left: 1%;

}

.espacoCard{
    margin-left: 6%;
}
.espacoCarddois{
    margin-left: 110px;
}
.espacoCardtres{
    margin-left: 0.5%;
}
.personalizarlogin{
    margin-left: 45%;
    margin-right: 45%;
    border-radius: 2px;
}

