<form action="/addUsu" method="post">
    <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Nome:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control-plaintext"  name="nome" value="EXEMPLE:Pedro"/>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control-plaintext" name="email"/>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">senha:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control-plaintext" name="senha" />
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">idade:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control-plaintext"  value="EXEMPLE:18" name="idade"/>
    </div>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
  </div>
</form>